.red {
    color:#ff0000
}
.orange {
    color: orange;
}
.yellow
{ color: yellow;}

.green
{color: green;}

.blue
{color: blue;}

.blue
{color: blue;}

.purple
{color: purple;}

body {
    background-color: black;
    color: white;
}
